@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Product Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search-button {
    display: inline-block;
    background-color: #323232; /* black background color */
    color: white; /* white text color */
    border: none;
    padding: 25px 70px; /* padding inside the button */
    font-size: 16px; /* font size */
    border-radius: 40px 100px 40px 100px; /* more rounded corners on top left and bottom right */
    cursor: pointer; /* cursor changes to pointer on hover */
    transform: skewX(-10deg); /* tilt the button */
    transition: background-color 0.3s; /* smooth transition for hover effect */
}

.search-button:hover {
    background-color: #000; /* slightly lighter black on hover */
}

.button-wrapper {
    display: inline-block;
    transform: skewX(10deg); /* reverse tilt to keep the text straight */
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 620px;
    height: 75px;
    border: 2px solid #f0f0f0;
    border-radius: 40px 100px 40px 100px;
    outline: none;
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    cursor: text;
    transition: border-color 0.3s;
}

.input-field:hover {
    border-color: #999;
    outline: none;
}


.input-field:focus {
    outline: none;
}

.image-wrapper {
    display: flex;
    width: 350px; /* Adjust based on your needs */
    height: 200px; /* Adjust based on your needs */
    border-radius: 45px 100px 45px 100px;
    overflow: hidden;
    position: relative;
}
.image-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Black background with 60% opacity */
    border-radius: inherit; /* Inherits the border-radius of the parent */
}

/* Styles for the image */
.image-wrapper img {
    object-fit: cover;
    width: 100%; /* Make the image fill the wrapper */
    height: auto; /* Maintain aspect ratio */
}

/* Adjustments for hover state if needed */
.image-wrapper:hover {
    cursor: pointer /* Slightly lighter black on hover */
}
